.slick-slider {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  .slick-dots {
    bottom: 20px;
    li {
      button {
        padding: 0;
        &:before {
          font-size: 12px;
          color: #ffffff !important;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: #f68269 !important;
            font-size: 14px;
          }
        }
      }
    }
  }
  .slick-track {
    &:before {
      display: none !important;
    }
  }
  .slick-track {
    &:after {
      display: none !important;
    }
  }
  .slick-list {
    height: 450px;
    background: #000;
    .slick-track {
      height: 100%;
      .slick-slide {
        height: 100%;
        > div {
          height: 100%;
          > div {
            height: 100%;
          }
        }
      }
    }
  }
}

#map_custom {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.react-tabs__tab-list {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin: 0 0 20px !important;
}
.react-tabs__tab-list, .react-tabs__tab {
  border: none !important;
  padding: 0 !important;
}
.react-tabs__tab {
  opacity: 0.7;
  bottom: 0 !important;
  .transition-transform-background {
    outline: none !important; 
    outline-offset: 0 !important;
  }
  &:focus {
    &::after {
      display: none !important;
    }
  }
  .subpixel-antialiased {
    padding: 0;
    &.padding {
      padding: 15px
    }
  }
  .bg-content1 {
    border-radius: 4px;
  }
}
.react-tabs__tab--selected {
  background: transparent !important;
  opacity: 1;
}

.szh-accordion {
  .szh-accordion__item-heading {
    .szh-accordion__item-btn {
      font-size: 17px;
      color: #466e8f;
      font-weight: 500;
      background: #f2f5f8;
      &.bg-slate-200 {
        background: #fce9e4;
      }
      &:hover {
        background: #fce9e4;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .slick-slider {
    .slick-list {
      height: 320px;
    }
  }
  .section-title {
    margin-bottom: 30px !important;
  }
}
